* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(214, 40%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  background-color: var(--slate-300);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vb;
}

.main-card {
  height: 420px;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  align-items: center;
  border-radius: 20px;
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.qr-code-image {
  width: 100%;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 215px;
}

.heading {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--slate-900);
  text-align: center;
}

.paragraph {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--slate-500);
  text-align: center;
}
